<?php

$finder = PhpCsFixer\Finder::create()
  ->in(__DIR__ . '/example')
  ->in(__DIR__ . '/public')
  ->in(__DIR__ . '/src')
;

$config = new PhpCsFixer\Config();
return $config->setRules([
    '@PSR2' => true,
    '@PHP80Migration' => true,
    'class_attributes_separation' => [
      'elements' => ['const' => 'one', 'method' => 'one', 'property' => 'one']
    ],
    'declare_strict_types' => true
  ])
  ->setFinder($finder)
  ->setIndent('  ')
;
